@media (max-width: 768px) {
    body {
        font-size: 16px; 
    }
    section:first-child{
        height: auto;
    }

    section{
        height: fit-content;
    }

    .projects-grid{
        flex-direction: column;
    }
    .navbar-toggle {
        color: var(--text-color);
        display: block;
        position: relative;
        margin-top: 20px;
        left: 70%;
        transform: scale(1.4);
    }

    .social-icons{
        justify-content: center; 
        align-items: center;
    }

    .home {
        flex-direction: column; 
        gap: 2rem; 
    }

    .datalist {
        width: 100%; 
        padding: 0 20px;
        text-align: center; 
    }

    .photo img {
       display: none; 
    }

    .mobile img{
        border-radius: 50%;
        padding-top: 20px;
        width: 31vw;
        height: auto;
        transition: .4s ease-in-out;
    }

    .mobile img:hover{
        transform: scale(1.1);
    }

    .navbar-brand {
        font-size: 1.5rem; 
    }

    .navbar-menu {
        display: none; 
        position: absolute; 
        top: 60px; 
        left: 0; 
        background-color: var(--bg-color); 
        width: 100%; 
        padding: 10px 0; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

    .navbar-menu.active {
        display: block;
    }

    .navbar-menu.navbar-menu.active:nth-child(evan){
        background-color: var(--second-bg-color); 
    }

    .navbar-menu li {
        width: 100%; 
    }

    .navbar-menu a {
        display: block; 
        padding: 10px 20px; 
        border-bottom: 1px solid var(--header-border-color); 
    }

    .btn{
        position: relative;
        left: 30px;
    }

    .social-icon{
        margin-left: 90px;
    }
    .about-container {
        flex-direction: column;
        gap: 1rem;
      }
    
      .about-image {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
      }
    
      .about-content {
        max-width: 100%;
      }
    
      .about-content h2 {
        font-size: 2rem;
      }
    
      .about-content p {
        font-size: 1rem;
      }

      .service-box {
        flex-basis: calc(50% - 2rem);
    }

    .inp input, .inp button, .inp textarea{
        margin-left: 4%;
    }
    .sec1 input,
    .sec2 textarea,
    .sec2 button {
        width: calc(100% - 2rem);
    }

    footer .social-link {
        flex-wrap: wrap;
      }
      
      footer .social-link a {
        flex: 1 0 45%; /* Two links per row */
      }
    
}

@media (max-width: 576px) {
    .service-box {
        flex-basis: calc(100% - 2rem);
    }
}

@media (min-width: 769px) {
    .navbar-toggle {
        display: none; 
    }
    .mobile{
        display: none;
    }
}
@media (max-width: 480px) {
    footer .social-link a {
      flex: 1 0 100%; /* One link per row */
    }
  }